* {
  margin: 0;
}

html {
  /*
   *font-family: sans-serif;
   */
}

body {
  background: #fff;
  color: #24292e;
  /*
   *display: block;
   *font-size: 14px;
   *line-height: 1.5;
   *min-width: 1020px;
   *word-wrap: break-word;
   */
}

.header {
  /*
   *background: #24292e;
   *color: rgba(255, 255, 255, 0.75);
   *display: block;
   *font-size: 14px !important;
   *padding-top: 12px;
   *padding-bottom: 12px;
   *z-index: 1;
   */
}

.main {
  padding-top: 20px;
  padding-bottom: 20px;
}

.main > h2 {
  padding-bottom: 20px;
}

.n-selector {
  padding-left: 20px;
}

.n-selector-item {
  float: left;
}

.n-selector-button {
  padding: 0 10px;
}

.circle-progress {
  margin: 6px 6px 20px;
  display: inline-block;
  position: relative;
  text-align: center;
  line-height: 1.2;
}

.circle-progress canvas {
  vertical-align: top;
}

.circle-progress strong {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
}

.circle-progress strong i {
  font-style: normal;
  font-size: 0.6em;
  font-weight: normal;
}

.dashboard-card {
  margin: 10px 0px;
}

.footer {

}
