<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TimeLapse Microservice</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/layout.css">
  </head>
  <body>
    <header class="header">
      <div>TimeLapse</div>
    </header>
    <div class="main">
    </div>
    <div class="footer">
    </div>
  </body>
</html>
