<nav class="navbar navbar-expand-lg navbar-dark bg-dark container-lg">
  <div class="container">
    <i class="navbar-brand material-icons md-36">face</i>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" id="home">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" id="images">
          <a class="nav-link" href="images">Images</a>
        </li>
        <li class="nav-item" id="cameras">
          <a class="nav-link" href="cameras">Cameras</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
